@import "tailwindcss";

@theme {
  /* Define the keyframes */
  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-4px);
    }
    75% {
      transform: translateX(4px);
    }
  }

  /* Define the utility name */
  --animate-shake: shake 0.15s ease-in-out 2;

  --color-brand: #6366f1;
}

@layer base {
  body {
    @apply bg-slate-900 text-white flex justify-center items-center h-screen w-screen;
  }
}
